flows (2).json
[{"id":"72afe408.a3081c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8bf383d4.0a006","type":"debug","z":"72afe408.a3081c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"850c58aa.cdbae8","type":"ui_gauge","z":"72afe408.a3081c","name":"","group":"bda9ff1b.7ec87","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Degree","format":"{{msg.payload.Temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":100,"wires":[]},{"id":"abf0d582.be8ff8","type":"ui_gauge","z":"72afe408.a3081c","name":"","group":"bda9ff1b.7ec87","order":2,"width":"6","height":"6","gtype":"gage","title":"Diastolic","label":"units","format":"{{msg.payload.Diastolic}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":200,"wires":[]},{"id":"3ca17c25.7f2b34","type":"ui_gauge","z":"72afe408.a3081c","name":"","group":"bda9ff1b.7ec87","order":3,"width":"6","height":"6","gtype":"gage","title":"Systolic","label":"units","format":"{{msg.payload.Systolic}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"6f616bf0.f1b274","type":"ui_gauge","z":"72afe408.a3081c","name":"","group":"bda9ff1b.7ec87","order":4,"width":"6","height":"6","gtype":"gage","title":"Age","label":"","format":"{{msg.payload.Age}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":60,"wires":[]},{"id":"fc4a3abe.fca578","type":"ibmiot in","z":"72afe408.a3081c","authentication":"apiKey","apiKey":"90da065b.5779c8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1504","applicationId":"","deviceType":"sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["6f616bf0.f1b274","850c58aa.cdbae8","3ca17c25.7f2b34","abf0d582.be8ff8","ce88b2c3.1a303"]]},{"id":"6b3e5062.a19ce","type":"http request","z":"72afe408.a3081c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":460,"wires":[["5b7dc5fe.3b6d9c","aeae8afb.4e9c68"]]},{"id":"ce88b2c3.1a303","type":"function","z":"72afe408.a3081c","name":"Pre-tocken","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Systolic\",msg.payload.Systolic)\nglobal.set(\"Diastolic\",msg.payload.Diastolic)\nglobal.set(\"Pulse\",msg.payload.Pulse)\nvar apikey=\"kbHDVkPtAjAcXvPDYXBrIPzSkKngf9sOlHUl1agPfxrF\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":360,"wires":[["6b3e5062.a19ce"]]},{"id":"5b7dc5fe.3b6d9c","type":"function","z":"72afe408.a3081c","name":"Pre-Prediction","func":"var Age = global.get(\"Age\")\nvar Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[Age, Temperature, Systolic, Diastolic, Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":420,"wires":[["3797cf92.63c34"]]},{"id":"a427d864.01a388","type":"function","z":"72afe408.a3081c","name":"","func":"var Age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n health: {\n Age: Age,\n temperature: Temperature,\n systolic: Systolic,\n diastloic:Diastolic,\n pulse: Pulse,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":340,"wires":[["9a58a614.3797b8","f76aa079.ccdd4"]]},{"id":"3797cf92.63c34","type":"http request","z":"72afe408.a3081c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/e31a51d7-7f88-4ebd-9cf0-626706a2ae95/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":480,"wires":[["a427d864.01a388","f0c0342d.ae1f58"]]},{"id":"9a58a614.3797b8","type":"debug","z":"72afe408.a3081c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"daed6eee.69b5e","type":"inject","z":"72afe408.a3081c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":380,"wires":[["ce88b2c3.1a303"]]},{"id":"f76aa079.ccdd4","type":"ui_text","z":"72afe408.a3081c","group":"bda9ff1b.7ec87","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":260,"wires":[]},{"id":"f0c0342d.ae1f58","type":"debug","z":"72afe408.a3081c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":944,"y":518,"wires":[]},{"id":"aeae8afb.4e9c68","type":"debug","z":"72afe408.a3081c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":560,"wires":[]},{"id":"bda9ff1b.7ec87","type":"ui_group","z":"","name":"IoT Heart ","tab":"fa90570b.b3d708","order":3,"disp":true,"width":"17","collapse":false},{"id":"90da065b.5779c8","type":"ibmiot","z":"","name":"new1apikey","keepalive":"60","serverName":"ye5fi3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"fa90570b.b3d708","type":"ui_tab","z":"","name":"Health monitor","icon":"dashboard","disabled":false,"hidden":false}]